.first-page-content {
    margin: 150px 197px 0 197px;

}

.first-page-info {
    justify-content: space-between;
    display: flex;
    flex-direction: row;

}

.information {
    width: 481px;
    height: 100px;
}

.info.title {
    color: #000000;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;

}

.info.text {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    margin-top: 20px;
    display: unset;
    color: #7D7987;


}

.first-page-download {
    display: block;
    margin-top: 33px;
}

.first-page-download:hover {
    background-color: #f5a855;
    color: #fff;
    border: 1px solid #FB8F1D;
    border-radius: 8px;

}

.first-page-img img {
    margin-left: 20%;
}


@media screen and (max-width: 1024px) and (min-width: 767px) {
    .first-page-info {
        margin-left: 10%;
        margin-bottom: 300px;
    }

    .info.text {
        font-size: 20px;
    }

    .first-page-img {
        display: none;
    }

    .first-page-download {
        /*margin-left: 100px;*/
        margin: 33px auto;
    }
}

@media screen and (max-width: 767px) and (min-width: 480px) {
    .first-page-content {
        margin-top: 150px;
        text-align: center;
    }

    .first-page-info {
        margin-bottom: 300px;
        margin-left: 0;


        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .info.text {
        font-size: 20px;
    }

    .first-page-img {
        display: none;
    }

    .first-page-download {

        margin: 33px auto;
    }
}

