.main-footer {
    height: 195px;
    background-color: #F8F8F8;

}

.footer-content {
    margin: 31px 191px 0 191px;
    padding-top: 31px;

}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-info.text {

    color: #848484;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 17px;


}

.footer-soc-net {
    margin-top: 33px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
}

.footer-soc-net img {
    margin-right: 35px;

}
img.youtube_logo{
    margin-right: 0;
}

@media screen and (max-width: 1024px) and (min-width: 767px) {
    .footer-info img{
        display: none;
    }
    .footer-info{
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) and (min-width: 480px) {
    .footer-content{
        margin: 0 0 0 0;
    }
    .footer-info img{
        display: none;
    }
    .footer-info{
        flex-direction: column;
    }
    .footer-info.text{
        align-items: inherit;
    }
}
